[
	{rabbit, [
		{tcp_listeners, [5672]},
		{handshake_timeout, 30000},
		{disk_free_limit, 200000000},
		{vm_memory_high_watermark, 0.5},
		{heartbeat, 600},
		{default_user, <<"rabbitmq">>},
		{default_pass, <<"rabbitmq">>},
		{default_user_tags, [administrator]},
		{delegate_count, 30},
		{hipe_compile, true}, %% just in time,erlang hipe
		{msg_store_file_size_limit, 30000000}
		]
	}
].